
.body{
	
	font-size: 40px;
	list-style: none;
	background-image: url("pic.JPEG");
	background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;
    background-size:cover;
	
	align-items: center;
	justify-content: center;
	display: flex;
}

.h1{
	font-size: 74px;
	justify-content: center;
	display: flex;
	align-items: center;
}

.button{
	justify-content: center;
	display: flex;
	align-items: center;
	
	font-size: 30px;
	
	width: 190px;
	height: 55px;
	text-decoration: none;
    color: black;
	border: solid 2px black;
    border-radius: 9px; 
}

.button:hover{
	color: red;
}

.row1{
	display: flex;
	gap: 5px;
	justify-content: center;
	
	align-items: center;
	padding-bottom: 30px;
}


